/* Code from bg */

body{
    background: hsl(0, 0%, 0%);
    font-family: 'Roboto', sans-serif;
}

/* Code from main */

h1 {
    text-align: center;
    color: hsl(120, 79%, 58%);
}

/* Code from main */

p {
    color: cyan;
    text-align: left;
    padding-left: 8%;
}